{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="cache-control" content="no-cache">
      <meta http-equiv="expires" content="0">
      <link rel="stylesheet" href="{% static 'css/index1.css' %}">
      <title>TEST</title>
  </head>
  <body>
    <a href="/video/download/">загрузить видео</a>
    <video src="{% static 'video/test.mp4' %}" controls>
      <p>Ваш браузер не поддерживает HTML5 видео. Используйте <a href="{% static 'video/test.mp4' %}>ссылку на видео</a> для доступа.</p>
    </video>
  </body>
</html>